<footer>
        <div class="container">
            <div class="social text-center">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>

            <div class="clear"></div>
            <!--CLEAR FLOATS-->
        </div>
    </footer>
    <!--/.page-section-->
    <section class="copyright">
        <div class="container">
            <div class="row">
            <div class="col-md-6 panel" style="background: #000;margin-bottom:0px !important">
						<div class="panel-body">
							<p class="simplenav">
								<a href="#top">Home</a> | 
								<a href="#howItWorks">How It Works</a> |
								<a href="#courses">Courses</a> |
								<a href="#aboutUs">About Us</a>
							</p>
						</div>
					</div>
                <div class="col-sm-12 text-center">
                    ©  <a href="http://e-gurukul.in">e-gurukul.</a> All rights reserved
                </div>
            </div>
            <!-- / .row -->
        </div>
    </section>
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>