<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/isotope.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.fancybox.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/da-slider.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/floatingMenu.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/owl.carousel.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/styles.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/slick.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/superslides.css")">
